.MainPlayerBox {
    position: absolute;
    bottom: 40px;
    left: 0;
    width: 100%;
    pointer-events: none;
    z-index: 1;
}

/* .PlayerTwoBox {
    position: absolute;
    bottom: 220px;
    left: 1180px;
    width: 100%;
    pointer-events: none;
    z-index: 1;
} */

.TopPlayerBox {
    position: absolute;
    bottom: 530px;
    left: 0;
    width: 100%;
    pointer-events: none;
    z-index: 1;
}

/* .PlayerFourBox {
    position: absolute;
    bottom: 220px;
    left: 290px;
    width: 100%;
    pointer-events: none;
    z-index: 1;
} */

.CardsDeck {
    position: absolute;
    bottom: 270px;
    left: 790px;
    width: 100%;
    pointer-events: none;
    z-index: 1;
}

.UsedPile {
    position: absolute;
    bottom: 270px;
    left: 620px;
    width: 100%;
    pointer-events: none;
    z-index: 1;

}