.MainPlayerBox {
    position: absolute;
    bottom: -110px;
    left: 50%;
    transform: translate(-50%);
    width: 150%;
    z-index: 1;
}

.TopPlayerBox {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translate(-50%);
    width: 150%;
    z-index: 1;
}

.CardsDeck {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    width: auto;
    z-index: 1;
}

.UsedPile {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    width: auto;
    z-index: 1;

}

.FirstLookButton {
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translate(-50%, -50%);
    z-index: 1;

}